
.errorrrr {
    color: red;
    font-weight: bold;
}

#roller {
    position: fixed;
    border-left: 1px solid black;
    right: 0;
    top: 0px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    h1 {
        height: 35px;
    }
    .chat-history {
        flex: 1;
        overflow-y: scroll;
        .chat-row {
            border-bottom: 1px solid black;
            padding: 5px 5px 10px 5px;
            &:nth-child(even) {
                background-color: #EEEEEE;
            }
            &:nth-child(odd) {
                background-color: #dddddd;
            }
            .chat-row-rollresult {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    .roller-buttons {
        height: 35px;
    }
    .chat-input {
        height: 40px;
        input {
            height: 40px;
            width: 100%;
            padding: 5px;
            color: #333333;
            font-size: 14px;
        }
    }
}

// Bootstrap
@import "../../../../../node_modules/bootstrap/scss/bootstrap";
